<%= form_for @spritekick do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>

  <p><%= f.label :author %></p>
  <p><%= f.text_field :author %></p>
  
  <p><%= f.label :description %></p>
  <p><%= f.text_area :description %></p>

  <p><%= f.label :url %></p>
  <p><%= f.text_field :url %></p>

  <p><%= f.file_field :image, as: :file %></p> 

  <p><%= f.submit %></p>
<% end %>