<h1>Single kick</h1>

<p><%= @spritekick.title %></p>
<p><%= @spritekick.description %></p>
<p>Created by: <%= @spritekick.user.name %></p>
<p>Total number of votes: <%= @spritekick.votes %></p>
<p><%= link_to 'Upvote this' , upvote_spritekick_path(@spritekick), method: :post %></p>
<p><%= link_to 'Downvote this' , downvote_spritekick_path(@spritekick), method: :post %></p>

<p><%= link_to 'Back' , '/' %></p>